html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
      width: 100%;
      min-width: 0;
  }
}
/* .responsive-filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.responsive-filters .p-dropdown {
  min-width: 150px;
  flex: 1 1 200px;
}
.responsive-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
/* .responsive-buttons .p-button {
  flex: 1 0 200px; /* כפתור יתפוס לפחות 200px, ואם אפשר יתרחב */
  /* min-width: 150px; */
/* } */ 
